html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.center-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.G {
    color: #f93e3e;
}

.K {
    color: #006280;
}

.letter {
    font-size: 140px;
    font-family: 'Passion One', cursive;
    display: inline-block;
    padding: 24px 6px 24px 12px;
}

.back a {
    font-size: 30px;
    padding: 80px 40px;
    text-decoration: none;
    display: block;
    font-family: 'Passion One', cursive;
    color: #f93e3e;
}


.logo .border {
    /* content: ''; */
    position: absolute;
    width: 350px;
    height: 350px;
    background: transparent;
    border-radius: 50%;
    border: 2px dashed #d5d5d5;
    -webkit-animation-name: Rotate;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: Rotate;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: Rotate;
    -ms-animation-duration: 3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    transform: translate(-50%, -50%);
}

.play {
    padding: 20px 30px;
    font-size: 56px;
}

.stop {
    font-size: 12px;
    padding: 30px;
    text-align: center;
}

@-webkit-keyframes Rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes Rotate {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes Rotate {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}


/*************************************************************
*                      flip container 
*/

.relative {
    position: relative;
}

.flip-container {
    perspective: 1000px;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 200px;
    height: 200px;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 11px #d4d4d4;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

